// some old artiles are styled with strong tag
body * {
	@apply font-normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-abcd font-normal;
}

h1,
.h1 {
	@apply text-lg lg:text-3xl;
}

h2,
.h2 {
	@apply text-base lg:text-lg;
}

h3,
.h3 {
	@apply text-base lg:text-lg;
}

h4,
.h4 {
	@apply text-base lg:text-lg;
}

h5,
.h5 {
	@apply text-base lg:text-lg;
}

h6,
.h6 {
	@apply text-base lg:text-lg;
}

p,
ul:not([class]),
ol:not([class]),
label {
	@apply leading-tight text-base lg:text-lg mb-4;
}

.topline {
	@apply uppercase font-bold text-sm text-primary;
}

.main-content {

	p a,
	ul a,
	ol a,
	a.link {
		@apply underline transition underline-offset-2 decoration-1 hover:text-primary-300 transition;
	}
}

.bb-cta-block,
.bb-newsletter-block {
	em {
		@apply bg-primary text-white not-italic px-1;
	}
}

// Make the paragraphs inside a block inherit typography
// Useful when we don't control the output
.text-inherit,
.text-inherit p,
.text-inherit ul,
.text-inherit ol {
	font-size: inherit;
}

abbr {
	@apply no-underline;
}

cite {
	@apply not-italic;
}
sup {
	@apply text-[0.33em] -top-[1.5em] bg-black text-white px-2 rounded-full border border-black hover:cursor-pointer;
}